.products{
    display: flex;
    flex-direction: column;
    /* padding: 0 2rem; */
}

.product-header{
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}