.f-container{
    position: relative;
    padding: 0 2rem;
}

.f-container>hr{
    border: 1px solid var(--lightgray);
}

.inter{
    display: flex;
    flex-direction: row;
}
.footer{
    padding: 0 2rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
}

.social{
    display: flex;
    gap: 2rem;
}

.social>a>img{
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.f-logo>img{
    width: 13rem;
    height: 14rem;
}

.derechos{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}
.derechos>a>img{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.derechos>a:nth-child(3){
    font-size: 10px;
}

.listado{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    font-weight: bold;
    color:#e24349;
    cursor: pointer;
}

.foot-blur{
    width: 50rem;
    height: 23rem;
   
}

@media screen and (max-width: 768px) {
    .inter{
        flex-direction: column;
    }
    .footer{
        padding: 1rem;
        
    }
    .f-logo{
        align-self: center;
    }
    .listado{
        align-items: center;
    }
    .social{
        margin-top: 1rem;
    }
}