.carousel-container{
    display:flex;
    vertical-align: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20px;
}

.slide-container{
    height: 25rem;
    width: 100%;
    border-radius: 30px;
    overflow:hidden;
    position: relative;
    /* cursor: pointer; */
    /* border: 1px solid black; */
}
.slide-container > img{
    height: 70%;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.slide-container:hover > img{
    transform: scale(1.1);
    opacity: 0.4;
}

.slide-container > p{
    margin-top: 5px;
    background-color: var(--caloryCard);
    height: 30%;
    color: white;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    text-align: justify;
    line-height: 18px;
}

.slide-desc{
    background-color: var(--orange);
    position: absolute;
    bottom: 112px;
    right: 0;
    height: 12%;
    width: 60%;
    padding-left: 10px;
    border-top-left-radius: 20px;
    opacity: 0.7;
}
.slide-desc > span{
    color: black;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 6px;
}

.BrainhubCarousel__arrows{
    border-radius: 50%;
    margin: 10px;
    background: white !important;
}
.BrainhubCarousel__arrows > span{
    border-color: black !important;
}
.BrainhubCarousel__arrows:hover{
    background-color: #e24349 !important;
}
.BrainhubCarousel__arrows:hover > span{
    background-color: #e24349 !important;
}

@media only screen and (max-width: 768px) {
    .carousel-container{
        flex-direction: column;
    }

    .slide-container{
        width: 80%;
        right: 1rem;
    }
}